//Colores
$verde: #17ca8c;
$verde-aqua: #1d98ad;
$rojo: #ff002b;
$amarillo: #f0bb29;
$amarillo-oscuro: #e09a19;
$negro: #3c3e42;
$gris: #737881;
$gris-claro: #f0f0f0;
$blanco: #fff;
$piel: #fffded;

//Tipografia
$open: 'Open Sans', sans-serif;
$light: 300;